h1 {
    color: #ff8222;
    font-size: 30px;
    font-weight: bold;
}

p {
    color: #1180FF ;
    font-size: 16px;
    font-weight: normal;
}

h2 {
    color: #5FFF43;
    font-size: 25px;
    font-weight: 600;
}